openai==1.55.3
langchain==0.2.16
langgraph
langchain-openai==0.1.23
langchain_experimental==0.0.65
azure-storage-blob==12.20.0
azure-search-documents==11.4.0
azure-identity==1.17.1
pypdf==4.2.0
pydub==0.25.1
python-dotenv==1.0.1
matplotlib==3.9.0
fastapi==0.111.0
msal==1.29.0
azure-ai-documentintelligence==1.0.0b3
pandas==2.2.2
opencv-python-headless==4.5.5.64
pdf2image 
azure-ai-formrecognizer